
*.log
*.obj
*.iobj
*.recipe
*.db
it2play/vs2019_project/.vs/it2play/v16/.suo
*.tlog
it2play/vs2019_project/x64/Release/it2play.vcxproj.FileListAbsolute.txt
*.db-shm
*.db-wal
*.opendb
*.ipch
it2play/vs2019_project/debug.it
it2play/vs2019_project/x64/Debug/it2play.vcxproj.FileListAbsolute.txt
it2play/vs2019_project/x64/Debug/it2play.exe
*.ilk
*.pdb
*.idb
it2play/vs2019_project/Debug/it2play.vcxproj.FileListAbsolute.txt
*.exe
*.wav
*.it
it2play/vs2019_project/Release/it2play.vcxproj.FileListAbsolute.txt
